hdi/force-app/main/default/flows/BotonEnviaCorreoInfoasignacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Botón: Envia correo infoasignacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Botón: Envia correo infoasignacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copia_1_de_Enviar_correo</name>
        <label>Copia 1 de Enviar correo</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailEnviado</name>
            <fieldText>&lt;p&gt;Email enviado correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Volver</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnviarCorreo</name>
        <label>Enviar correo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubflowEnvioEmailInfoasignacion</targetReference>
        </connector>
        <fields>
            <name>TextoScreen</name>
            <fieldText>&lt;p&gt;¿Desea enviar correo al contacto del caso con la información de infoasignacion?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Enviar correo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EnviarCorreo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SubflowEnvioEmailInfoasignacion</name>
        <label>Subflow: Envío email infoasignacion</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Copia_1_de_Enviar_correo</targetReference>
        </connector>
        <flowName>SubflowEnvioEmailInfoasignacion</flowName>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
