hdi/force-app/main/default/flows/Case_Envio_Comunicaciones_SIN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HDI_P100_Asignacion_No_taller_asignado_y_liquidador_externo_SIN</name>
        <label>HDI_P100 Asignación No taller asignado y liquidador externo_SIN</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>HDI_P100_Asignacion_No_taller_asignado_y_liquidador_externo_SIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>$Record.HDIEmail_Liquidador__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HDI_P100_Asignacion_No_taller_asignado_y_liquidador_interno_SIN</name>
        <label>HDI_P100 Asignación No taller asignado y liquidador interno_SIN</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>HDI_P100_Asignacion_taller_asignado_y_liquidador_interno_SIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>$Record.HDIEmail_Ejecutivo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HDI_P100_Asignacion_taller_asignado_y_liquidador_externo_SIN</name>
        <label>HDI_P100 Asignación taller asignado y liquidador externo_SIN</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>HDI_P100_Asignacion_taller_asignado_y_liquidador_externo_SIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactOrLeadID</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>$Record.HDI4I_ID_del_liquidador__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HDI_P100_Asignacion_taller_asignado_y_liquidador_interno_SIN</name>
        <label>HDI_P100 Asignación taller asignado y liquidador interno_SIN</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>HDI_P100_Asignacion_taller_asignado_y_liquidador_interno_SIN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <elementReference>$Record.HDIEmail_Ejecutivo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>HDIEsOwnerGestionSiniestrosOCorreoVacio_SIN</name>
        <label>Es owner &apos;Gestion Siniestros&apos; o correo vacío?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>HDIP110AsignacionComunicacionesEmail_SIN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDI_GestionSiniestros_SIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>HDIP110AsignacionComunicacionesEmail_SIN</name>
        <label>P110 Asignación Comunicaciones Email</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HDITallerNoAsignadoYLiquidadorInterno_SIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Nombre_del_taller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDITipoDeLiquidador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDIDirecto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI_P100_Asignacion_No_taller_asignado_y_liquidador_interno_SIN</targetReference>
            </connector>
            <label>Taller no asignado y liquidador interno</label>
        </rules>
        <rules>
            <name>HDITaller_no_asignado_y_liquidador_externo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Nombre_del_taller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDITipoDeLiquidador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDIOficial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI_P100_Asignacion_No_taller_asignado_y_liquidador_externo_SIN</targetReference>
            </connector>
            <label>Taller no asignado y liquidador externo</label>
        </rules>
        <rules>
            <name>Taller_asignado_y_liquidador_interno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Rut_del_taller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDITipoDeLiquidador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDIDirecto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI_P100_Asignacion_taller_asignado_y_liquidador_interno_SIN</targetReference>
            </connector>
            <label>Taller asignado y liquidador interno</label>
        </rules>
        <rules>
            <name>Taller_asignado_y_liquidador_externo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HDI4I_Rut_del_taller__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HDITipoDeLiquidador__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HDIOficial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HDI_P100_Asignacion_taller_asignado_y_liquidador_externo_SIN</targetReference>
            </connector>
            <label>Taller asignado y liquidador externo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Es_Cola_Gestion_Siniestros</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Owner:Group.Type}, &quot;Queue&quot;), {!$Record.Owner:Group.Name} = &quot;Gestión Siniestros&quot; )</expression>
    </formulas>
    <interviewLabel>Case Envío Comunicaciones_SIN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Envío Comunicaciones_SIN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HDIEsOwnerGestionSiniestrosOCorreoVacio_SIN</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
