hdi/force-app/main/default/flows/consultaExterna2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>consultaExternaHDI</name>
        <label>consultaExternaHDI</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>CORE_RestApiHandler_CLS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>respuesta_consulta</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>entryData</name>
            <value>
                <elementReference>patenteSolicitud</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>resp</assignToReference>
            <name>respuesta</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>asignacion_patente</name>
        <label>asignacion patente</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>patenteSolicitud</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consultaHDI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>consultaExternaHDI</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>consultaExterna {!$Flow.CurrentDateTime}</interviewLabel>
    <label>consultaExterna2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>consultaExterna</name>
        <label>consultaExterna</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asignacion_patente</targetReference>
        </connector>
        <fields>
            <name>consultaHDI</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>patenteSolicitud</elementReference>
            </defaultValue>
            <fieldText>consultaHDI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>respuesta_consulta</name>
        <label>respuesta consulta</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screnrespuesta</name>
            <fieldText>&lt;p&gt;{!resp}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>consultaExterna</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>patenteSolicitud</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
