hdi/force-app/main/default/flows/SubflowEnvioEmailInfoasignacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InfoasignacionEmail</name>
        <label>Se utiliza desde el subflow envío email Infoasignación</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>Case.Infoasignacion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreaRegistroEnvioEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>RTSiniestroEstadoDenuncio</name>
        <label>¿RT Siniestro y Estado Denuncio?</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiSiniestroDenuncio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniestro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denuncio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InfoasignacionEmail</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow: Envío email infoasignacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Envío email infoasignacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreaRegistroEnvioEmail</name>
        <label>Crea registro envío email</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Envío de Email infoasignacion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RTSiniestroEstadoDenuncio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
